$primary : rgb(0, 0, 0);


@import "../node_modules/bootstrap/scss/bootstrap.scss";

img {
    width: 100px;
}

#nickname {
    margin-left: 15vh;
    margin-top: -3.5vh;
}

#users-online {
    padding-top: 25vh;
    height: 100vh; 
    width: 30vw;
    text-align: center;
}

#username {
    background-color: rgb(55, 55, 55);
}

#info {
    max-width: 450px;
}

#container {
    display: flex;
}

.knopje {
    float: right;
    width: 5vw;
    text-align: center;
}

.knopje1 {
    float: right;
    width: 5vw;
    background-color: rgb(101, 101, 241);
    text-align: center;
}